.main-body {
    margin: 0px auto;
    max-width: 1200px;
}
@media only screen and (max-width: 1200px) {
    .main-body {
        margin: 0px 40px;
    }
}
@media only screen and (max-width: 600px) {
    .main-body {
        margin: 0px;
    }
}